*.iml
.gradle/
.gradle
local.properties
/local.properties
/.idea/
.DS_Store
build/
/build/
**/build/
DiziboxProvider/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.ap_
*.dex
scratch/
homepage.html
series_sample.html
episode_sample.html
multi_season_sample.html
player_king.html
molystream_embed.html
arsiv.html
search_archive_results.html
search_loki.html
