*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
scratch/
homepage.html
series_sample.html
episode_sample.html
multi_season_sample.html
player_king.html
molystream_embed.html
arsiv.html
search_archive_results.html
